In [1]:
# Importing required packages
import numpy as np
import pandas as pd

In [2]:
# Importing Data Set
df=pd.read_csv('autism_screening.csv')
df.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,race,born_with_jaundice,family_members_austim,country_of_res,used_app_before,scores,relation,autism
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,United States,no,6,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Brazil,no,5,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Spain,no,8,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,United States,no,6,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40.0,f,?,no,no,Egypt,no,2,?,NO

In [3]:
df.shape

(704, 20)

In [4]:
df.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,scores
count,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,702.000000,704.000000
mean,0.721591,0.453125,0.457386,0.495739,0.498580,0.284091,0.417614,0.649148,0.323864,0.573864,29.698006,4.875000
std,0.448535,0.498152,0.498535,0.500337,0.500353,0.451301,0.493516,0.477576,0.468281,0.494866,16.507465,2.501493
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,3.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,27.000000,4.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,35.000000,7.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,383.000000,10.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   A1_Score               704 non-null    int64
 1   A2_Score               704 non-null    int64
 2   A3_Score               704 non-null    int64
 3   A4_Score               704 non-null    int64
 4   A5_Score               704 non-null    int64
 5   A6_Score               704 non-null    int64
 6   A7_Score               704 non-null    int64
 7   A8_Score               704 non-null    int64
 8   A9_Score               704 non-null    int64
 9   A10_Score              704 non-null    int64
 10  age                    702 non-null    float64
 11  gender                 704 non-null    object
 12  race                   704 non-null    object
 13  born_with_jaundice     704 non-null    object
 14  family_members_austim  704 non-null    object
 15  country_of_res         704 non-null    object
 16  used_app_before        704 non-null    object
 17  scores                 704 non-null    int64
 18  relation               704 non-null    object
 19  autism                 704 non-null    object
dtypes: float64(1), int64(11), object(8)
memory usage: 110.1+ KB

In [6]:
# Data Cleaning
df.isnull().sum()

A1_Score                 0
A2_Score                 0
A3_Score                 0
A4_Score                 0
A5_Score                 0
A6_Score                 0
A7_Score                 0
A8_Score                 0
A9_Score                 0
A10_Score                0
age                      2
gender                   0
race                     0
born_with_jaundice       0
family_members_austim    0
country_of_res           0
used_app_before          0
scores                   0
relation                 0
autism                   0
dtype: int64

In [7]:
df=df.drop_duplicates()
df.shape

(699, 20)

In [8]:
df['age'].value_counts()

21.0     49
20.0     46
23.0     37
22.0     37
19.0     35
24.0     34
27.0     31
30.0     30
18.0     29
26.0     28
29.0     27
25.0     26
28.0     24
31.0     21
17.0     18
32.0     18
35.0     17
37.0     17
33.0     16
40.0     16
42.0     15
36.0     13
38.0     12
34.0     12
43.0     11
44.0      9
39.0      7
47.0      7
53.0      6
55.0      6
46.0      6
50.0      5
52.0      5
45.0      4
48.0      4
49.0      3
41.0      3
58.0      2
54.0      2
56.0      2
61.0      2
59.0      1
64.0      1
60.0      1
383.0     1
51.0      1
Name: age, dtype: int64

In [9]:
df['age'].fillna(df['age'].mean(),inplace=True)

In [10]:
df['gender'].value_counts()

m    363
f    336
Name: gender, dtype: int64

In [11]:
df['race'].value_counts()

White-European     230
Asian              123
?                   95
Middle Eastern      90
Black               43
South Asian         36
Others              30
Latino              20
Hispanic            13
Pasifika            12
Turkish              6
others               1
Name: race, dtype: int64

In [12]:
df['race'].replace('?','0',inplace=True)

In [13]:
df['race'].value_counts()

White-European     230
Asian              123
0                   95
Middle Eastern      90
Black               43
South Asian         36
Others              30
Latino              20
Hispanic            13
Pasifika            12
Turkish              6
others               1
Name: race, dtype: int64

In [14]:
df['born_with_jaundice'].value_counts()

no     630
yes     69
Name: born_with_jaundice, dtype: int64

In [15]:
df['family_members_austim'].value_counts()

no     609
yes     90
Name: family_members_austim, dtype: int64

In [16]:
df['country_of_res'].value_counts()

United States           111
New Zealand              81
India                    81
United Arab Emirates     80
United Kingdom           76
                       ...
China                     1
Chile                     1
Lebanon                   1
Burundi                   1
Cyprus                    1
Name: country_of_res, Length: 67, dtype: int64

In [17]:
df['used_app_before'].value_counts()

no     687
yes     12
Name: used_app_before, dtype: int64

In [18]:
df['relation'].replace('?','Others',inplace=True)

In [19]:
df['relation'].value_counts()

Self                        519
Others                      100
Parent                       50
Relative                     26
Health care professional      4
Name: relation, dtype: int64

In [20]:
df.isnull().sum()

A1_Score                 0
A2_Score                 0
A3_Score                 0
A4_Score                 0
A5_Score                 0
A6_Score                 0
A7_Score                 0
A8_Score                 0
A9_Score                 0
A10_Score                0
age                      0
gender                   0
race                     0
born_with_jaundice       0
family_members_austim    0
country_of_res           0
used_app_before          0
scores                   0
relation                 0
autism                   0
dtype: int64

In [21]:
# Converting Categorical data to Numerical data
df['gender'].replace('m',1,inplace=True)
df['gender'].replace('f',0,inplace=True)

In [22]:
df['born_with_jaundice'].replace('yes',1,inplace=True)
df['born_with_jaundice'].replace('no',0,inplace=True)

In [23]:
df['family_members_austim'].replace('yes',1,inplace=True)
df['family_members_austim'].replace('no',0,inplace=True)

In [24]:
df.used_app_before.replace((1,0),('yes','no'),inplace=True)
df['used_app_before'].replace('yes',1,inplace=True)
df['used_app_before'].replace('no',0,inplace=True)

In [25]:
relation={'Self':1,'Parent':2,'Health care professional':3,'Relative':4,'others':5,'Others':6}
relation=[relation[item] for item in df.relation]
df['relation'].replace('Self',1,inplace=True)
df['relation'].replace('Parent',2,inplace=True)
df['relation'].replace('Health care professional',3,inplace=True)
df['relation'].replace('Relative',4,inplace=True)
df['relation'].replace('others',5,inplace=True)
df['relation'].replace('Others',6,inplace=True)

In [26]:
df['autism'].replace('YES',1,inplace=True)
df['autism'].replace('NO',0,inplace=True)

In [27]:
df.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,race,born_with_jaundice,family_members_austim,country_of_res,used_app_before,scores,relation,autism
0,1,1,1,1,0,0,1,1,0,0,26.0,0,White-European,0,0,United States,0,6,1,0
1,1,1,0,1,0,0,0,1,0,1,24.0,1,Latino,0,1,Brazil,0,5,1,0
2,1,1,0,1,1,0,1,1,1,1,27.0,1,Latino,1,1,Spain,0,8,2,1
3,1,1,0,1,0,0,1,1,0,1,35.0,0,White-European,0,1,United States,0,6,1,0
4,1,0,0,0,0,0,0,1,0,0,40.0,0,0,0,0,Egypt,0,2,6,0

In [28]:
# Feature Selection
x=df[['age','gender','born_with_jaundice','family_members_austim','used_app_before','relation','A1_Score','A2_Score','A3_Score','A4_Score','A5_Score','A6_Score','A7_Score','A8_Score','A9_Score','A10_Score']]
print(x)

      age  gender  born_with_jaundice  family_members_austim  used_app_before  \
0    26.0       0                   0                      0                0
1    24.0       1                   0                      1                0
2    27.0       1                   1                      1                0
3    35.0       0                   0                      1                0
4    40.0       0                   0                      0                0
..    ...     ...                 ...                    ...              ...
699  25.0       0                   0                      0                0
700  34.0       1                   0                      0                0
701  24.0       0                   0                      0                0
702  35.0       1                   0                      0                0
703  26.0       0                   0                      0                0

     relation  A1_Score  A2_Score  A3_Score  A4_Score  A5_Score  A6_Score  \
0           1         1         1         1         1         0         0
1           1         1         1         0         1         0         0
2           2         1         1         0         1         1         0
3           1         1         1         0         1         0         0
4           6         1         0         0         0         0         0
..        ...       ...       ...       ...       ...       ...       ...
699         1         0         1         0         1         1         0
700         2         1         0         0         0         0         0
701         6         1         0         1         1         1         0
702         1         1         0         0         1         1         0
703         1         1         0         1         1         1         0

     A7_Score  A8_Score  A9_Score  A10_Score
0           1         1         0          0
1           0         1         0          1
2           1         1         1          1
3           1         1         0          1
4           0         1         0          0
..        ...       ...       ...        ...
699         1         1         1          1
700         0         1         0          1
701         1         1         0          1
702         1         0         1          1
703         1         1         1          1

[699 rows x 16 columns]

In [29]:
y=df.autism
print(y)

0      0
1      0
2      1
3      0
4      0
      ..
699    1
700    0
701    1
702    0
703    1
Name: autism, Length: 699, dtype: int64

In [30]:
# Feature Extraction
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=10)

In [31]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(524, 16) (175, 16) (524,) (175,)

In [32]:
from sklearn import metrics

In [33]:
# Training and Testing using Logistic Regression Algorithm
from sklearn.linear_model import LogisticRegression
model1=LogisticRegression()
model1.fit(x_train,y_train)
y_pred1=model1.predict(x_test)
acc1=metrics.accuracy_score(y_test,y_pred1)
print('Accuracy of Logistic Regression Algorithm is {:.2f}%'.format(acc1*100))

Accuracy of Logistic Regression Algorithm is 100.00%

C:\Users\91901\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [34]:
# Training and Testing using Random Forest Classifier Algorithm
from sklearn.ensemble import RandomForestClassifier
model2=RandomForestClassifier()
model2.fit(x_train,y_train)
y_pred2=model2.predict(x_test)
acc2=metrics.accuracy_score(y_test,y_pred2)
print('Accuracy of Random Forest Classifier Algorithm is {:.2f}%'.format(acc2*100))

Accuracy of Random Forest Classifier Algorithm is 98.86%

In [35]:
# Training and Testing using KNeighbors Classifier Algorithm
from sklearn.neighbors import KNeighborsClassifier
model3=KNeighborsClassifier()
model3.fit(x_train,y_train)
y_pred3=model3.predict(x_test)
acc3=metrics.accuracy_score(y_test,y_pred3)
print('Accuracy of KNeighbors Classifier Algorithm is {:.2f}%'.format(acc3*100))

Accuracy of KNeighbors Classifier Algorithm is 89.71%

In [36]:
# Training and Testing using GaussianNB Algorithm
from sklearn.naive_bayes import GaussianNB
model4=GaussianNB()
model4.fit(x_train,y_train)
y_pred4=model4.predict(x_test)
acc4=metrics.accuracy_score(y_test,y_pred4)
print('Accuracy of GaussianNB Algorithm is {:.2f}%'.format(acc4*100))

Accuracy of GaussianNB Algorithm is 97.14%

In [37]:
# Training and Testing using Decision Tree Classifier Algorithm
from sklearn.tree import DecisionTreeClassifier
model5=DecisionTreeClassifier()
model5.fit(x_train,y_train)
y_pred5=model5.predict(x_test)
acc5=metrics.accuracy_score(y_test,y_pred5)
print('Accuracy of Decision Tree Classifier Algorithm is {:.2f}%'.format(acc5*100))

Accuracy of Decision Tree Classifier Algorithm is 93.71%

In [38]:
# Evaluating the performance of the model
cm=metrics.confusion_matrix(y_test,y_pred1)
print(cm)
print(metrics.classification_report(y_test,y_pred1))

[[135   0]
 [  0  40]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       135
           1       1.00      1.00      1.00        40

    accuracy                           1.00       175
   macro avg       1.00      1.00      1.00       175
weighted avg       1.00      1.00      1.00       175